nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}