.navbar {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.navbar a {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active-link {
  background-color: #4CAF50;
  color: white;
}
