body {
  background-image: url(../../Images/mat-turkiskt.jpg);
  background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
}

.bg-booking {
  background-image: url(../../Images/booking.jpg);
background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;}

.bg-admin {
  background-image: url(../../Images/Admin.jpg);
  background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
h1 {
  font-size: 2rem;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.wrapper {
  max-width: 2800px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100%;
}

.footer-text {
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

.footer-text {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}